.board-container {
	display:flex;
	flex-direction: column;
}
.board-row {
	display:flex;
	flex-direction: row;
}
.board-slot {
	width:50px;
	height: 50px;
}
.board-slot-black {
	background: black;
}

.board-slot-white {
	background: white;
}